**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
#First Way

s= "Ahmed"

print("The Length of string =", len(s))

The Length of string = 5

In [ ]:
#Secound Way

s= "Ahmed"

x=0
i=0

while i < len(s) :
  x=x+1
  i+=1

print("The Length of string =",x)

The Length of string = 7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
s = input("Enter String:")

start = s[0:2]
end = s[-2:]

if len(s) <= 2 :
  print("The String is too short!")
else :
  print(start+end)

Enter String:w
The String is too short!

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input("Enter String:")

if len(s) <3:
  print("String Is Too Short")

elif s[-3:] == "ing":
   print(s.replace("ing","ly"))

else :
  print(s+"ing")

Enter String:gm
String Is Too Short

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l= ["Ahmed","AI111","MEC","g","mohamed"]
x = max(l)
y = len(x)

print("The longest word is :",x,",And the length of it =",y)

The longest word is : mohamed ,And the length of it = 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s= input("Enter String :")
e = input("Enter The char you want to replace:")
print(e+s[1:-1:1]+e)

Enter String :ahmed
Enter The char you want to replace:z
zhmez

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s =input("Enter String:")

i=0

while(i<len(s)):
  if i%2 ==0:
    print(s[i],end=" ")
    i+=1
  else:
    i+=1

Enter String:ahmed
a m d

**7. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print("The Length =",len(heros))

heros.append("black panther")
print(heros)

heros.pop(5)
print(heros)

heros.insert(3,'black panther')
print(heros)

heros.sort()
print(heros)

The Length = 5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'hulk', 'iron man', 'spider man', 'thor']

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input("Enter String :")

print("Upper :",s.upper())
print("Lower :",s.lower())

Enter String :aHmEd
Upper : AHMED
Lower : ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s =input("Enret String:")

if len(s)%4 ==0:
  print(s[::-1])
else :
  print(s)

Enret String:gmgm
mgmg

**10- Write a Python program to remove a newline in Python

In [ ]:
s= input("Enter String :")

newS= s.replace("\n"," ")

print(newS)

Enter String :AHMED
AHMED

**11- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
s = input("Enter String:")

print("x ".join(s))

Enter String:gmy
gx mx y

**12-Write a Python program to print the following numbers up to 2 decimal places

ex:
Original Number:  3.1415926                                                                                   
Formatted Number: 3.14                                                                                        
Original Number:  12.9999                                                                                     
Formatted Number: 13.00

In [ ]:
num1 = float(input("Ente Number :"))

print("Original Number: ", num1)
print("Formatted Number: {:.2f}".format(num1))

Ente Number :3.1415926
Original Number:  3.1415926
Formatted Number: 3.14

**13-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num = float(input("Enter a number: "))
print("{:.2f}".format(num))

Enter a number: 3.14159
3.14

**14-Write a Python program to display a number with a comma separator

In [ ]:
num = 123456789
print("{:,}".format(num))

123,456,789

**15-Write a Python program to reverse a string using 2 ways

In [ ]:
#First Way

s = input("Enter String:")

i=0
while i<len(s):
  print(s[len(s)-i-1],end="")
  i+=1

Enter String:gmy
ymg

In [ ]:
#Secound Way

s = input("Enter String:")
print("Original String:",s)

x= s[::-1]
print("Reversed String:",x)

Enter String:gmy
Original String: gmy
Reversed String: ymg

**16-Write a Python program to remove spaces from a given string

In [ ]:
s = input("Enter String:")


s = s.replace(" ","")


print(s)

Enter String:a h m e d
ahmed

**17-write a Python program to swap first and last element of any list.

In [ ]:
l = [1,2,32,"gmy"]

l[0],l[-1] = l[-1],l[0]

print(l)

['gmy', 2, 32, 1]

**18-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
l = [1,3,6,8]

print(l)

x= int(input("Enter Position1:"))
y= int(input("Enter Position2:"))

l[x],l[y] = l[y],l[x]

print(l)

[1, 3, 6, 8]
Enter Position 1:2
Enter Position 2:0
[6, 3, 1, 8]

**19- search for the all ways to know the length of the list

In [ ]:
#First Way

l =[1,2,3,4,5]
print(len(l))

In [ ]:
#Secound Way

l =[1,2,3,4,5]

i =0
while i<len(l):
  i+=1

print(i)

5
5

**20-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l =[1,2,3,4,5,6]

print(max(l))

6

**21-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l =[1,2,3,4,5,6]

print(min(l))

1

**22-search for if an elem is existing in list

In [ ]:
l =[1,2,3,4,5,6]

x = int(input("enter number :"))

if x in l :
  print("Existing")
else:
  print("Not Existing")

enter number :8
Not Existing

**23- clear python list using different ways

In [ ]:
l =[1,2,3,4,5,6]
print(l)

l.clear()
print(l)

i=0
while i<len(l):
  l.pop(i)
print(l)

[1, 2, 3, 4, 5, 6]
[]
[]

**24-remove duplicated elements from a list

In [ ]:
l = [1,2,3,4,5,1,5,6]
print(l)

l= list(set(l))
print(l)

[1, 2, 3, 4, 5, 1, 5, 6]
[1, 2, 3, 4, 5, 6]

**25-write a python program to count unique values inside a list using different ways

In [ ]:
l = [1,2,3,4,5,6,6]
x= int(input("Enter Number To Get count:"))
print(l.count(x))

Enter Number To Get count6
2

**26-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
res = []
for i in test_list:
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)
print(str(res))

[4, 3]

**27-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output:  5)

In [ ]:
l=[1,2,2,3,4,5]

x= max(l)

print("The Strongest =",x)

The Strongest = 5

**28-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**29-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**30-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**31- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
l =[1,2,3,4,5,6,7,8,9]
x=int(input("Enter Sum To Search :"))

for i in range(len(l)):
  for j in range(i+1,len(l)):
    if l[i]+l[j] == x :
      print(l[i],l[j])

Enter Sum To Search :7
1 6
2 5
3 4

**32- I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [ ]:
s = "maine 200 banana khaye"

s= s.replace("200 banana","10 samosa")

print(s)

maine 10 samosa khaye

**33.  You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print(heros)

heros.append("black panther")
print(heros)

heros.pop(5)
heros.insert(3,'black panther')
print(heros)

heros[1:3] = ['doctor strange']
print(heros)

heros.sort()
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']