1- 	Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [1]:
def multiply(l):
  x=1
  for i in range(len(l)):
    x=x*l[i]
  return x

l=[8,2,3,-1,7]
print("The Multiply Of List = ",multiply(l))

The Multiply Of List =  -336

2-	Write a Python program to reverse a string.
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [2]:
def reverse(s):
  return s[::-1]

s="1234abcd"
print("The Reverse String = ",reverse(s))

The Reverse String =  dcba4321

3-	Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [8]:
def fact(n):
  x =1
  if n <0:
    print("It is Not Factorial")
  else:
    for i in range(1,n+1):
      x=x*i
    print("The Factorial =",x)

n =int(input("Enter A Number :"))
fact(n)

Enter A Number :-1
It is Not Factorial

4- 	Write a Python function that accepts a string and counts the number of upper and lower case letters. Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [11]:
def upper_lower(s):
  upper=0
  lower=0
  for i in s:
    if i.isupper():
      upper+=1
    elif i.islower():
      lower+=1

  print("No. of Upper case characters : ",upper)
  print("No. of Lower case Characters : ",lower)

s=input("Enter String:")
upper_lower(s)

Enter String:AhmEd
No. of Upper case characters :  2
No. of Lower case Characters :  3

5-	Write a Python function that takes a list and returns a new list with distinct elements from the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [12]:
def uniqe(l):
  x=[]
  for i in range(len(l)):
    if l[i] not in x:
      x.append(l[i])
  return x

l=[1,2,3,3,3,3,4,5]
print("Unique List = ",uniqe(l))

Unique List =  [1, 2, 3, 4, 5]

6-	Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz'

In [14]:
def swap(s1,s2):

  new_s1=s1[:2]+s2[2:]
  new_s2=s2[:2]+s1[2:]

  return new_s1+" "+new_s2

s1=input("Enter First String :")
s2=input("Enter Second String :")
print("Swap String = ",swap(s1,s2))

Enter First String :xyz
Enter Second String :abc
Swap String =  xyc abz

7-	Function and For Loop Problem: Write a function called find_even_numbers that takes a list of integers and returns a new list containing only the even numbers from the original list. Use a for loop to iterate through the list.

In [15]:
def even(l):
  x =[]
  for i in range(len(l)):
    if l[i]%2==0:
      x.append(l[i])
  return x

l =[1,2,3,4,5,6,7,8,9,10]
print("Even Number = ",even(l))

Even Number =  [2, 4, 6, 8, 10]

8-	Linear Search with Function Problem: Write a function called find_first_occurrence that takes a list of strings and a target string. The function should return the index of the first occurrence of the target string in the list, otherwise it should return -1. Use a for loop and the linear search algorithm

In [34]:
def find_first_occurrence(l,s):

  for i in range(len(l)):
    if l[i]==s:
      return i
    else:
      return -1


l =["Ahmed","Gamal","MEC","AI111"]
s=input("Enter String To Search:")
print("Indix Of First Occurrence =",find_first_occurrence(l,s))

Enter String To Search:ahmed
Indix Of First Occurrence = -1

9-	Function and For Loop Problem: Write a function called sum_of_squares that takes a list of integers and returns the sum of the squares of each integer in the list. Use a for loop to iterate through the list

In [35]:
def sum_of_square(l):
  x=0
  for i in range(len(l)):
    x=x+(l[i]**2)
  return x


l=[1,2,3,4,5]
print("Sum Of Square = ",sum_of_square(l))

Sum Of Square =  55

10 - 	Function and For Loop with Condition Problem: Write a function called count_occurrences that takes a list of integers and a target integer. The function should return the count of occurrences of the target integer in the list. Use a for loop to iterate through the list.

In [ ]:
def count(l,n):
  count=0
  for i in range(len(l)):
    if l[i]==n:
      count+=1
  return count

l=[1,2,3,4,5,6,7,8,9,10,2,3,5,6,1,2]
n=int(input("Enter Number To Count :"))
print("Count Of Number = ",count(l,n))